---
apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
kind: KThreesConfigTemplate
metadata:
  name: ${CLUSTER_NAME}-md-0
spec:
  template:
    spec:
      agentConfig:
        nodeName: '{{ ds.meta_data.label }}'
        kubeletArgs:
          - "provider-id=linode://{{ ds.meta_data.id }}"
      preK3sCommands:
        - |
          mkdir -p /etc/rancher/k3s/config.yaml.d/
          echo "node-ip: $(hostname -I | grep -oE 192\.168\.[0-9]+\.[0-9]+)" >> /etc/rancher/k3s/config.yaml.d/capi-config.yaml
        - sed -i '/swap/d' /etc/fstab
        - swapoff -a