apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../infra
  - kubeadmConfigTemplate.yaml
  - kubeadmControlPlane.yaml
  - ../../../addons/cilium
  - ../../../addons/cilium-network-policies
  - ../../../addons/csi-driver-linode
  - ../../../addons/ccm-linode
  - ../../../addons/cluster-resource-set
patches:
  - target:
      group: cluster.x-k8s.io
      version: v1beta1
      kind: Cluster
    patch: |-
      - op: replace
        path: /spec/controlPlaneRef/kind
        value: KubeadmControlPlane
  - target:
      group: cluster.x-k8s.io
      version: v1beta1
      kind: MachineDeployment
    patch: |-
      - op: replace
        path: /spec/template/spec/bootstrap/configRef/kind
        value: KubeadmConfigTemplate
  - target:
      group: cluster.x-k8s.io
      version: v1beta1
      kind: Cluster
    patch: |-
      apiVersion: cluster.x-k8s.io/v1beta1
      kind: Cluster
      metadata:
        name: ${CLUSTER_NAME}
        labels:
            cni: ${CLUSTER_NAME}-cilium
            ccm: ${CLUSTER_NAME}-linode
            csi: ${CLUSTER_NAME}-linode
            crs: ${CLUSTER_NAME}-crs
