apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../konnectivity
  - ../../../addons/cluster-autoscaler
  - ../../../addons/etcd-backup-restore
  - ../../../addons/machine-health-check
  - ../../../addons/placementGroups
  - ../../../addons/cluster-object-store

patches:
  - target:
      kind: HelmChartProxy
      name: .*-cilium
    patch: |-
      - op: replace
        path: /spec/valuesTemplate
        value: |
          bgpControlPlane:
            enabled: true
          policyAuditMode: ${FW_AUDIT_ONLY:=true}
          hostFirewall:
            enabled: true
          extraConfig:
            allow-localhost: policy
          ipam:
            mode: kubernetes
          k8s:
            requireIPv4PodCIDR: true
          hubble:
            relay:
              enabled: true
            ui:
              enabled: true
  - target:
      kind: HelmChartProxy
      name: .*-linode-cloud-controller-manager
    patch: |-
      - op: replace
        path: /spec/valuesTemplate
        value: |
          secretRef:
            name: "linode-token-region"
          image:
            pullPolicy: IfNotPresent
          env:
            - name: LINODE_EXTERNAL_SUBNET
              value: ${LINODE_EXTERNAL_SUBNET:=""}
            - name: LINODE_URL
              value: ${LINODE_URL:="https://api.linode.com"}
            - name: SSL_CERT_DIR
              value: "/tls"
          volumeMounts:
            - name: cacert
              mountPath: /tls
              readOnly: true
          volumes:
            - name: cacert
              secret:
                secretName: linode-ca
                defaultMode: 420
  - target:
      kind: LinodeVPC
    patch: |-
      $patch: delete
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
      kind: LinodeVPC
      metadata:
        name: ${VPC_NAME:=${CLUSTER_NAME}}
  - target:
      group: infrastructure.cluster.x-k8s.io
      version: v1alpha2
      kind: LinodeCluster
    patch: |-
      - op: remove
        path: /spec/vpcRef
      - op: remove
        path: /spec/nodeBalancerFirewallRef
      - op: remove
        path: /spec/network/enableVPCBackends
  - target:
      group: controlplane.cluster.x-k8s.io
      version: v1beta1
      kind: KubeadmControlPlane
    patch: |-
      - op: remove
        path: /spec/kubeadmConfigSpec/initConfiguration/skipPhases
  - target:
      group: cluster.x-k8s.io
      version: v1beta1
      kind: Cluster
    patch: |-
      apiVersion: cluster.x-k8s.io/v1beta1
      kind: Cluster
      metadata:
        name: ${CLUSTER_NAME}
      spec:
        clusterNetwork:
          pods:
            cidrBlocks:
              - 10.192.0.0/10
              - fd02::/80
          services:
            cidrBlocks:
              - 10.96.0.0/12
              - fd03::/108
  - target:
      group: controlplane.cluster.x-k8s.io
      version: v1beta1
      kind: KubeadmControlPlane
    patch: |-
      apiVersion: controlplane.cluster.x-k8s.io/v1beta1
      kind: KubeadmControlPlane
      metadata:
        name: ${CLUSTER_NAME}-control-plane
      spec:
        kubeadmConfigSpec:
          clusterConfiguration:
            controllerManager:
              extraArgs:
                node-cidr-mask-size-ipv6: "96"
  - target:
      group: cluster.x-k8s.io
      version: v1beta1
      kind: MachineDeployment
    patch: |-
      apiVersion: cluster.x-k8s.io/v1beta1
      kind: MachineDeployment
      metadata:
        name: ${CLUSTER_NAME}-md-0
        annotations:
          cluster.x-k8s.io/cluster-api-autoscaler-node-group-min-size: ${WORKER_MACHINE_MIN:-"1"}
          cluster.x-k8s.io/cluster-api-autoscaler-node-group-max-size: ${WORKER_MACHINE_MAX:-"10"}
  - target:
      group: infrastructure.cluster.x-k8s.io
      version: v1alpha2
      kind: LinodeMachineTemplate
      name: .*-control-plane
    patch: |-
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
      kind: LinodeMachineTemplate
      metadata:
        name: ${CLUSTER_NAME}-control-plane
      spec:
        template:
          spec:
            dataDisks:
              sdc:
                label: etcd_disk
                size: 10Gi
  - target:
      group: controlplane.cluster.x-k8s.io
      version: v1beta1
      kind: KubeadmControlPlane
    patch: |-
      apiVersion: controlplane.cluster.x-k8s.io/v1beta1
      kind: KubeadmControlPlane
      metadata:
        name: ${CLUSTER_NAME}-control-plane
      spec:
        kubeadmConfigSpec:
          diskSetup:
            filesystems:
              - label: etcd_data
                filesystem: ext4
                device: /dev/sdc
            partitions:
              - device: /dev/sdc
                layout: true
          mounts:
            - - /dev/sdc
              - /var/lib/etcd_data
  - target:
      group: controlplane.cluster.x-k8s.io
      version: v1beta1
      kind: KubeadmControlPlane
    patch: |-
      apiVersion: controlplane.cluster.x-k8s.io/v1beta1
      kind: KubeadmControlPlane
      metadata:
        name: ${CLUSTER_NAME}-control-plane
      spec:
        remediationStrategy:
          maxRetry: 5
          retryPeriod: 2m
          minHealthyPeriod: 2h
  - target:
      group: cluster.x-k8s.io
      version: v1beta1
      kind: Cluster
    patch: |-
      apiVersion: cluster.x-k8s.io/v1beta1
      kind: Cluster
      metadata:
        name: ${CLUSTER_NAME}
        labels:
          etcd-backup: "true"
          cluster-autoscaler: "true"
  - target:
      group: controlplane.cluster.x-k8s.io
      version: v1beta1
      kind: KubeadmControlPlane
    patch: |-
      apiVersion: controlplane.cluster.x-k8s.io/v1beta1
      kind: KubeadmControlPlane
      metadata:
        name: ${CLUSTER_NAME}-control-plane
      spec:
        remediationStrategy:
          maxRetry: 5
          retryPeriod: 2m
          minHealthyPeriod: 2h
  - target:
      kind: LinodeFirewall
    patch: |-
      $patch: delete
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
      kind: LinodeFirewall
      metadata:
        name: ${CLUSTER_NAME}
  - target:
      group: infrastructure.cluster.x-k8s.io
      version: v1alpha2
      kind: LinodeMachineTemplate
    patch: |-
      - op: remove
        path: /spec/template/spec/firewallRef
      - op: remove
        path: /spec/template/spec/vpcRef
      - op: remove
        path: /spec/template/spec/privateIP
      - op: add
        path: /spec/template/spec/interfaces
        value:
        - purpose: public
  - target:
      group: infrastructure.cluster.x-k8s.io
      version: v1alpha2
      kind: LinodeMachineTemplate
      name: .*-control-plane
    patch: |-
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
      kind: LinodeMachineTemplate
      metadata:
        name: ${CLUSTER_NAME}-control-plane
      spec:
        template:
          spec:
            placementGroupRef:
              apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
              kind: LinodePlacementGroup
              name: ${CLUSTER_NAME}
  - target:
      group: infrastructure.cluster.x-k8s.io
      version: v1alpha2
      kind: LinodeCluster
    patch: |-
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
      kind: LinodeCluster
      metadata:
        name: ${CLUSTER_NAME}
      spec:
        objectStore:
          presignedURLDuration: "24h"
          credentialsRef:
            name: ${CLUSTER_NAME}-object-store-obj-key
