---
apiVersion: bootstrap.cluster.x-k8s.io/v1alpha1
kind: RKE2ConfigTemplate
metadata:
  name: ${CLUSTER_NAME}-md-0
spec:
  template:
    spec:
      agentConfig:
        version: ${KUBERNETES_VERSION}
        nodeName: '{{ ds.meta_data.label }}'
        kubelet:
          extraArgs:
            - "provider-id=linode://{{ ds.meta_data.id }}"
      preRKE2Commands:
        - sed -i '/swap/d' /etc/fstab
        - swapoff -a
        - hostnamectl set-hostname '{{ ds.meta_data.label }}' && hostname -F /etc/hostname
