---
apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
kind: RKE2ConfigTemplate
metadata:
  name: ${CLUSTER_NAME}
spec:
  template:
    spec:
      agentConfig:
        nodeName: '{{ ds.meta_data.label }}'
        cisProfile: ${CIS_PROFILE:-""}
        protectKernelDefaults: ${CIS_ENABLED:-false}
        kubelet:
          extraArgs:
            - "provider-id=linode://{{ ds.meta_data.id }}"
      # TODO: use MDS to get private IP instead
      preRKE2Commands:
        - sed -i '/swap/d' /etc/fstab
        - swapoff -a
        - hostnamectl set-hostname '{{ ds.meta_data.label }}' && hostname -F /etc/hostname
