apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../infra
  - k3sControlPlane.yaml
  - k3sConfigTemplate.yaml
  - secret.yaml
  - ../../../addons/ciliumNetworkPolicies.yaml
patches:
  - target:
      group: cluster.x-k8s.io
      version: v1beta1
      kind: Cluster
    patch: |-
      - op: replace
        path: /spec/controlPlaneRef/kind
        value: KThreesControlPlane
  - target:
      group: cluster.x-k8s.io
      version: v1beta1
      kind: MachineDeployment
    patch: |-
      - op: replace
        path: /spec/template/spec/bootstrap/configRef/kind
        value: KThreesConfigTemplate
