apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../default

patches:
  - target:
      kind: HelmChartProxy
      name: .*-cilium
    patch: |-
      - op: replace
        path: /spec/valuesTemplate
        value: |
          bgpControlPlane:
            enabled: true
          ipam:
            mode: kubernetes
          k8s:
            requireIPv4PodCIDR: true
          hubble:
            relay:
              enabled: true
            ui:
              enabled: true

  - target:
      kind: HelmChartProxy
      name: .*-linode-cloud-controller-manager
    patch: |-
      - op: replace
        path: /spec/valuesTemplate
        value: |
          secretRef:
            name: "linode-token-region"
          image:
            pullPolicy: IfNotPresent


  - target:
      kind: LinodeVPC
    patch: |-
      $patch: delete
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
      kind: LinodeVPC
      metadata:
        name: ${VPC_NAME:=${CLUSTER_NAME}}
  - target:
      group: infrastructure.cluster.x-k8s.io
      version: v1alpha1
      kind: LinodeCluster
    patch: |-
      - op: remove
        path: /spec/vpcRef
  - target:
      group: cluster.x-k8s.io
      version: v1beta1
      kind: Cluster
    patch: |-
      apiVersion: cluster.x-k8s.io/v1beta1
      kind: Cluster
      metadata:
        name: ${CLUSTER_NAME}
        labels:
            vxlan: "true"
            vpcless: "true"
