apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../default

patches:
  - target:
      kind: HelmChartProxy
      name: .*-linode-cloud-controller-manager
    patch: |-
      - op: replace
        path: /spec/valuesTemplate
        value: |
          secretRef:
            name: "linode-token-region"
          image:
            pullPolicy: IfNotPresent
          nodeSelector:
            node-role.kubernetes.io/control-plane: "true"
          env:
            - name: LINODE_EXTERNAL_SUBNET
              value: ${LINODE_EXTERNAL_SUBNET:=""}
            - name: LINODE_URL
              value: ${LINODE_URL:="https://api.linode.com"}
            - name: SSL_CERT_DIR
              value: "/tls"
          volumeMounts:
            - name: cacert
              mountPath: /tls
              readOnly: true
          volumes:
            - name: cacert
              secret:
                secretName: linode-ca
                defaultMode: 420
  - target:
      kind: LinodeVPC
    patch: |-
      $patch: delete
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
      kind: LinodeVPC
      metadata:
        name: ${VPC_NAME:=${CLUSTER_NAME}}
  - target:
      group: infrastructure.cluster.x-k8s.io
      version: v1alpha2
      kind: LinodeCluster
    patch: |-
      - op: remove
        path: /spec/vpcRef
      - op: remove
        path: /spec/nodeBalancerFirewallRef
  - target:
      group: bootstrap.cluster.x-k8s.io
      version: v1beta2
      kind: KThreesConfigTemplate
    patch: |-
      - op: replace
        path: /spec/template/spec/preK3sCommands
        value:
          - |
            mkdir -p /etc/rancher/k3s/config.yaml.d/
            echo "node-ip: $(hostname -I | grep -oE 192\.168\.[0-9]+\.[0-9]+)" >> /etc/rancher/k3s/config.yaml.d/capi-config.yaml
          - sed -i '/swap/d' /etc/fstab
          - swapoff -a
          - hostnamectl set-hostname '{{ ds.meta_data.label }}' && hostname -F /etc/hostname
  - target:
      group: controlplane.cluster.x-k8s.io
      version: v1beta2
      kind: KThreesControlPlane
    patch: |-
      - op: replace
        path: /spec/kthreesConfigSpec/preK3sCommands
        value:
          - |
            mkdir -p /etc/rancher/k3s/config.yaml.d/
            echo "node-ip: $(hostname -I | grep -oE 192\.168\.[0-9]+\.[0-9]+)" >> /etc/rancher/k3s/config.yaml.d/capi-config.yaml
          - sed -i '/swap/d' /etc/fstab
          - swapoff -a
          - hostnamectl set-hostname '{{ ds.meta_data.label }}' && hostname -F /etc/hostname
  - target:
      group: controlplane.cluster.x-k8s.io
      version: v1beta2
      kind: KThreesControlPlane
    patch: |-
      - op: replace
        path: /spec/kthreesConfigSpec/files/1/content
        value: |-
          apiVersion: helm.cattle.io/v1
          kind: HelmChart
          metadata:
            name: cilium
            namespace: kube-system
          spec:
            targetNamespace: kube-system
            version: ${CILIUM_VERSION:=1.15.4}
            chart: cilium
            repo: https://helm.cilium.io/
            bootstrap: true
            valuesContent: |-
              bgpControlPlane:
                enabled: true
              policyAuditMode: ${FW_AUDIT_ONLY:=true}
              hostFirewall:
                enabled: true
              extraConfig:
                allow-localhost: policy
              ipam:
                mode: kubernetes
              ipv4:
                enabled: true
              ipv6:
                enabled: false
              k8s:
                requireIPv4PodCIDR: true
              hubble:
                relay:
                  enabled: true
                ui:
                  enabled: true
  - target:
      kind: LinodeFirewall
    patch: |-
      $patch: delete
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
      kind: LinodeFirewall
      metadata:
        name: ${CLUSTER_NAME}
  - target:
      group: infrastructure.cluster.x-k8s.io
      version: v1alpha2
      kind: LinodeMachineTemplate
    patch: |-
      - op: remove
        path: /spec/template/spec/firewallRef
      - op: remove
        path: /spec/template/spec/vpcRef
      - op: remove
        path: /spec/template/spec/privateIP
      - op: add
        path: /spec/template/spec/interfaces
        value:
        - purpose: public
  - target:
      group: infrastructure.cluster.x-k8s.io
      version: v1alpha2
      kind: LinodeCluster
    patch: |-
      - op: remove
        path: /spec/network/enableVPCBackends
