apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - clusterClass.yaml
  - kubeadmControlPlaneTemplate.yaml
  - linodeClusterTemplate.yaml
  - ../kubeadm/default

transformers:
  - replacementTransformer.yaml
  - deleteTransformer.yaml

patches:

  - target:
      group: infrastructure.cluster.x-k8s.io
      version: v1alpha2
      kind: LinodeMachineTemplate
      name: .*md-0
    options:
      allowNameChange: true
    patch: |-
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
      kind: LinodeMachineTemplate
      metadata:
        name: kubeadm-worker

  - target:
      group: infrastructure.cluster.x-k8s.io
      version: v1alpha2
      kind: LinodeMachineTemplate
      name: .*control-plane
    options:
      allowNameChange: true
    patch: |-
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
      kind: LinodeMachineTemplate
      metadata:
        name: kubeadm-cp

  - target:
      group: bootstrap.cluster.x-k8s.io
      version: v1beta1
      kind: KubeadmConfigTemplate
    options:
      allowNameChange: true
    patch: |-
      kind: KubeadmConfigTemplate
      metadata:
        name: kubeadm-worker
