---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cluster.x-k8s.io
  resources:
  - clusters
  - machines
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - addresssets
  - firewallrules
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - linodeclusters
  - linodefirewalls
  - linodemachines
  - linodeobjectstoragebuckets
  - linodeobjectstoragekeys
  - linodeplacementgroups
  - linodevpcs
  - linodemachinetemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - linodeclusters/finalizers
  - linodefirewalls/finalizers
  - linodemachines/finalizers
  - linodeobjectstoragebuckets/finalizers
  - linodeobjectstoragekeys/finalizers
  - linodeplacementgroups/finalizers
  - linodevpcs/finalizers
  verbs:
  - update
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - linodeclusters/status
  - linodefirewalls/status
  - linodemachines/status
  - linodeobjectstoragebuckets/status
  - linodeobjectstoragekeys/status
  - linodeplacementgroups/status
  - linodevpcs/status
  - linodemachinetemplates/status
  verbs:
  - get
  - patch
  - update
