kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: e2e
nodes:
- role: control-plane
  image: kindest/node:v1.31.0
  extraPortMappings:
  - containerPort: 8080
    hostPort: 28080
  - containerPort: 8081
    hostPort: 28081
