apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../default

patches:
  - target:
      group: infrastructure.cluster.x-k8s.io
      version: v1alpha2
      kind: LinodeMachineTemplate
      name: .*-cp
    patch: |-
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
      kind: LinodeMachineTemplate
      metadata:
        name: ${CLUSTER_NAME}-cp
      spec:
        template:
          spec:
            dataDisks:
              sdc:
                label: etcd_disk
                size: 10Gi
  - target:
      group: controlplane.cluster.x-k8s.io
      version: v1beta1
      kind: KubeadmControlPlane
    patch: |-
      apiVersion: controlplane.cluster.x-k8s.io/v1beta1
      kind: KubeadmControlPlane
      metadata:
        name: ${CLUSTER_NAME}-cp
      spec:
        kubeadmConfigSpec:
          diskSetup:
            filesystems:
              - label: etcd_data
                filesystem: ext4
                device: /dev/sdc
            partitions:
              - device: /dev/sdc
                layout: true
          mounts:
            - - /dev/sdc
              - /var/lib/etcd_data
