apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../default
  - ../../../addons/cluster-autoscaler
  - ../../../addons/etcd-backup-restore
  - ../../../addons/machine-health-check
  - ../../../addons/placementGroups
  - ../../../addons/cluster-object-store

patches:
  - target:
      kind: HelmChartProxy
      name: .*-linode-cloud-controller-manager
    patch: |-
      - op: replace
        path: /spec/valuesTemplate
        value: |
          secretRef:
            name: "linode-token-region"
          image:
            pullPolicy: IfNotPresent
          nodeSelector:
            node-role.kubernetes.io/control-plane: "true"
          env:
            - name: LINODE_EXTERNAL_SUBNET
              value: ${LINODE_EXTERNAL_SUBNET:=""}
            - name: LINODE_URL
              value: ${LINODE_URL:="https://api.linode.com"}
            - name: SSL_CERT_DIR
              value: "/tls"
          volumeMounts:
            - name: cacert
              mountPath: /tls
              readOnly: true
          volumes:
            - name: cacert
              secret:
                secretName: linode-ca
                defaultMode: 420
  - target:
      kind: LinodeVPC
    patch: |-
      $patch: delete
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
      kind: LinodeVPC
      metadata:
        name: ${VPC_NAME:=${CLUSTER_NAME}}
  - target:
      group: infrastructure.cluster.x-k8s.io
      version: v1alpha2
      kind: LinodeCluster
    patch: |-
      - op: remove
        path: /spec/vpcRef
      - op: remove
        path: /spec/nodeBalancerFirewallRef
  - target:
      group: cluster.x-k8s.io
      version: v1beta2
      kind: Cluster
    patch: |-
      apiVersion: cluster.x-k8s.io/v1beta2
      kind: Cluster
      metadata:
        name: ${CLUSTER_NAME}
      spec:
        clusterNetwork:
          pods:
            cidrBlocks:
              - 10.192.0.0/10
              - fd02::/80
          services:
            cidrBlocks:
              - 10.96.0.0/12
              - fd03::/108
  - target:
      group: controlplane.cluster.x-k8s.io
      version: v1beta2
      kind: KThreesControlPlane
    patch: |-
      apiVersion: controlplane.cluster.x-k8s.io/v1beta2
      kind: KThreesControlPlane
      metadata:
        name: ${CLUSTER_NAME}-cp
      spec:
        kthreesConfigSpec:
          serverConfig:
            kubeControllerManagerArgs:
              - "node-cidr-mask-size-ipv6=96"
            clusterCidr: "10.192.0.0/10,fd02::/80"
            serviceCidr: "10.96.0.0/12,fd03::/108"
  - target:
      group: controlplane.cluster.x-k8s.io
      version: v1beta2
      kind: KThreesControlPlane
    patch: |-
      - op: replace
        path: /spec/kthreesConfigSpec/files/1/content
        value: |-
          apiVersion: helm.cattle.io/v1
          kind: HelmChart
          metadata:
            name: cilium
            namespace: kube-system
          spec:
            targetNamespace: kube-system
            version: ${CILIUM_VERSION:=1.15.4}
            chart: cilium
            repo: https://helm.cilium.io/
            bootstrap: true
            valuesContent: |-
              bgpControlPlane:
                enabled: true
              policyAuditMode: ${FW_AUDIT_ONLY:=true}
              hostFirewall:
                enabled: true
              extraConfig:
                allow-localhost: policy
              ipam:
                mode: kubernetes
              ipv4:
                enabled: true
              ipv6:
                enabled: true
              k8s:
                requireIPv4PodCIDR: true
              hubble:
                relay:
                  enabled: true
                ui:
                  enabled: true
  - target:
      group: cluster.x-k8s.io
      version: v1beta2
      kind: MachineDeployment
    patch: |-
      apiVersion: cluster.x-k8s.io/v1beta2
      kind: MachineDeployment
      metadata:
        name: ${CLUSTER_NAME}
        annotations:
          cluster.x-k8s.io/cluster-api-autoscaler-node-group-min-size: ${WORKER_MACHINE_MIN:-"1"}
          cluster.x-k8s.io/cluster-api-autoscaler-node-group-max-size: ${WORKER_MACHINE_MAX:-"10"}
  - target:
      group: cluster.x-k8s.io
      version: v1beta2
      kind: Cluster
    patch: |-
      apiVersion: cluster.x-k8s.io/v1beta2
      kind: Cluster
      metadata:
        name: ${CLUSTER_NAME}
        labels:
          cluster-autoscaler: "true"
          etcd-backup: "true"
  - target:
      group: controlplane.cluster.x-k8s.io
      version: v1beta2
      kind: KThreesControlPlane
    patch: |-
      - op: replace
        path: /spec/kthreesConfigSpec/preK3sCommands
        value:
          - |
            mkdir -p /etc/rancher/k3s/config.yaml.d/
            echo "node-ip: $(ip a s eth0 |grep -E 'inet '  |cut -d' ' -f6|cut -d/ -f1 | grep -E '192.168'),$(ip a s eth0 |grep -E 'inet6 '  |cut -d' ' -f6|cut -d/ -f1 | grep -vE 'fe80')" >> /etc/rancher/k3s/config.yaml.d/capi-config.yaml
          - sed -i '/swap/d' /etc/fstab
          - swapoff -a
          - hostnamectl set-hostname '{{ ds.meta_data.label }}' && hostname -F /etc/hostname
  - target:
      group: bootstrap.cluster.x-k8s.io
      version: v1beta2
      kind: KThreesConfigTemplate
    patch: |-
      - op: replace
        path: /spec/template/spec/preK3sCommands
        value:
          - |
            mkdir -p /etc/rancher/k3s/config.yaml.d/
            echo "node-ip: $(ip a s eth0 |grep -E 'inet '  |cut -d' ' -f6|cut -d/ -f1 | grep -E '192.168'),$(ip a s eth0 |grep -E 'inet6 '  |cut -d' ' -f6|cut -d/ -f1 | grep -vE 'fe80')" >> /etc/rancher/k3s/config.yaml.d/capi-config.yaml
          - sed -i '/swap/d' /etc/fstab
          - swapoff -a
          - hostnamectl set-hostname '{{ ds.meta_data.label }}' && hostname -F /etc/hostname
  - target:
      kind: LinodeFirewall
    patch: |-
      $patch: delete
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
      kind: LinodeFirewall
      metadata:
        name: ${CLUSTER_NAME}
  - target:
      group: infrastructure.cluster.x-k8s.io
      version: v1alpha2
      kind: LinodeMachineTemplate
    patch: |-
      - op: remove
        path: /spec/template/spec/firewallRef
  - target:
      group: infrastructure.cluster.x-k8s.io
      version: v1alpha2
      kind: LinodeMachineTemplate
      name: .*-cp
    patch: |-
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
      kind: LinodeMachineTemplate
      metadata:
        name: ${CLUSTER_NAME}-cp
      spec:
        template:
          spec:
            placementGroupRef:
              apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
              kind: LinodePlacementGroup
              name: ${CLUSTER_NAME}
  - target:
      group: infrastructure.cluster.x-k8s.io
      version: v1alpha2
      kind: LinodeCluster
    patch: |-
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
      kind: LinodeCluster
      metadata:
        name: ${CLUSTER_NAME}
      spec:
        objectStore:
          presignedURLDuration: "24h"
          credentialsRef:
            name: ${CLUSTER_NAME}-obj-key
