# common labels for CRD resources as required by
#  https://cluster-api.sigs.k8s.io/developer/providers/contracts.html#api-version-labels
labels:
  - pairs:
      cluster.x-k8s.io/provider: "infrastructure-linode"
      visualizer.cluster.x-k8s.io: ""

# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/infrastructure.cluster.x-k8s.io_linodeclusters.yaml
- bases/infrastructure.cluster.x-k8s.io_linodemachines.yaml
- bases/infrastructure.cluster.x-k8s.io_linodemachinetemplates.yaml
- bases/infrastructure.cluster.x-k8s.io_linodeclustertemplates.yaml
- bases/infrastructure.cluster.x-k8s.io_linodevpcs.yaml
- bases/infrastructure.cluster.x-k8s.io_linodeobjectstoragebuckets.yaml
- bases/infrastructure.cluster.x-k8s.io_linodeobjectstoragekeys.yaml
#+kubebuilder:scaffold:crdkustomizeresource

patches:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
- path: patches/webhook_in_linodeclusters.yaml
- path: patches/webhook_in_linodemachines.yaml
#- path: patches/webhook_in_linodemachinetemplates.yaml
#- path: patches/webhook_in_linodeclustertemplates.yaml
- path: patches/webhook_in_linodevpcs.yaml
- path: patches/webhook_in_linodeobjectstoragebuckets.yaml
- path: patches/webhook_in_infrastructure_linodeclusters.yaml
#+kubebuilder:scaffold:crdkustomizewebhookpatch

- path: patches/capicontract_in_linodeclusters.yaml
- path: patches/capicontract_in_linodemachines.yaml
- path: patches/capicontract_in_linodemachinetemplates.yaml
- path: patches/capicontract_in_linodeclustertemplates.yaml
- path: patches/capicontract_in_linodeobjectstoragebuckets.yaml
- path: patches/capicontract_in_linodevpcs.yaml

# [CERTMANAGER] To enable cert-manager, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
- path: patches/cainjection_in_linodeclusters.yaml
- path: patches/cainjection_in_linodemachines.yaml
#- path: patches/cainjection_in_linodemachinetemplates.yaml
#- path: patches/cainjection_in_linodeclustertemplates.yaml
- path: patches/cainjection_in_linodevpcs.yaml
- path: patches/cainjection_in_linodeobjectstoragebuckets.yaml
- path: patches/cainjection_in_infrastructure_linodeclusters.yaml
#- path: patches/cainjection_in_linodeobjectstoragekeys.yaml
#+kubebuilder:scaffold:crdkustomizecainjectionpatch

# [VALIDATION]
# patches here are for additional validation for each CRD
- target:
    group: apiextensions.k8s.io
    version: v1
    kind: CustomResourceDefinition
    name: linodeclusters.infrastructure.cluster.x-k8s.io
  path: patches/validation_in_linodeclusters.yaml
- target:
    group: apiextensions.k8s.io
    version: v1
    kind: CustomResourceDefinition
    name: linodeclustertemplates.infrastructure.cluster.x-k8s.io
  path: patches/validation_in_linodeclustertemplates.yaml
- target:
    group: apiextensions.k8s.io
    version: v1
    kind: CustomResourceDefinition
    name: linodemachines.infrastructure.cluster.x-k8s.io
  path: patches/validation_in_linodemachines.yaml
- target:
    group: apiextensions.k8s.io
    version: v1
    kind: CustomResourceDefinition
    name: linodemachinetemplates.infrastructure.cluster.x-k8s.io
  path: patches/validation_in_linodemachinetemplates.yaml
- target:
    group: apiextensions.k8s.io
    version: v1
    kind: CustomResourceDefinition
    name: linodevpcs.infrastructure.cluster.x-k8s.io
  path: patches/validation_in_linodevpcs.yaml

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
- kustomizeconfig.yaml
