---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  name: linodeclusters.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: LinodeCluster
    listKind: LinodeClusterList
    plural: linodeclusters
    singular: linodecluster
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Cluster to which this LinodeCluster belongs
      jsonPath: .metadata.labels.cluster\.x-k8s\.io/cluster-name
      name: Cluster
      type: string
    - description: Cluster infrastructure is ready for Linode instances
      jsonPath: .status.ready
      name: Ready
      type: string
    - description: API Endpoint
      jsonPath: .spec.ControlPlaneEndpoint
      name: Endpoint
      priority: 1
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: LinodeCluster is the Schema for the linodeclusters API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: LinodeClusterSpec defines the desired state of LinodeCluster
            properties:
              controlPlaneEndpoint:
                description: ControlPlaneEndpoint represents the endpoint used to
                  communicate with the LinodeCluster control plane. If ControlPlaneEndpoint
                  is unset then the Nodebalancer ip will be used.
                properties:
                  host:
                    description: The hostname on which the API server is serving.
                    type: string
                  port:
                    description: The port on which the API server is serving.
                    format: int32
                    type: integer
                required:
                - host
                - port
                type: object
              network:
                description: NetworkSpec encapsulates all things related to Linode
                  network.
                properties:
                  loadBalancerPort:
                    description: LoadBalancerPort used by the api server. It must
                      be valid ports range (1-65535). If omitted, default value is
                      6443.
                    maximum: 65535
                    minimum: 1
                    type: integer
                  loadBalancerType:
                    description: LoadBalancerType is the type of load balancer to
                      use, defaults to NodeBalancer if not otherwise set
                    enum:
                    - NodeBalancer
                    type: string
                  nodeBalancerID:
                    description: NodeBalancerID is the id of api server NodeBalancer.
                    type: integer
                type: object
              region:
                description: The Linode Region the LinodeCluster lives in.
                type: string
            required:
            - region
            type: object
          status:
            description: LinodeClusterStatus defines the observed state of LinodeCluster
            properties:
              conditions:
                description: Conditions defines current service state of the LinodeCluster.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another. This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field
                        changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition. This field may be empty.
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                        in CamelCase. The specific API may choose whether or not this
                        field is considered a guaranteed API. This field may not be
                        empty.
                      type: string
                    severity:
                      description: Severity provides an explicit classification of
                        Reason code, so the users or machines can immediately understand
                        the current situation and act accordingly. The Severity field
                        MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              failureMessage:
                description: FailureMessage will be set in the event that there is
                  a terminal problem reconciling the LinodeCluster and will contain
                  a more verbose string suitable for logging and human consumption.
                type: string
              failureReason:
                description: FailureReason will be set in the event that there is
                  a terminal problem reconciling the LinodeCluster and will contain
                  a succinct value suitable for machine interpretation.
                type: string
              ready:
                description: Ready denotes that the cluster (infrastructure) is ready.
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
