---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.0
  labels:
    clusterctl.cluster.x-k8s.io/move-hierarchy: "true"
  name: linodeobjectstoragekeys.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: LinodeObjectStorageKey
    listKind: LinodeObjectStorageKeyList
    plural: linodeobjectstoragekeys
    shortNames:
    - lobjkey
    singular: linodeobjectstoragekey
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The ID assigned to the access key
      jsonPath: .status.accessKeyRef
      name: ID
      type: string
    - description: The name of the Secret containing access key data
      jsonPath: .status.secretName
      name: Secret
      type: string
    - description: Whether the access key is synced in the Linode API
      jsonPath: .status.ready
      name: Ready
      type: string
    name: v1alpha2
    schema:
      openAPIV3Schema:
        description: LinodeObjectStorageKey is the Schema for the linodeobjectstoragekeys
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec is the desired state of the LinodeObjectStorageKey.
            properties:
              bucketAccess:
                description: bucketAccess is the list of object storage bucket labels
                  which can be accessed using the key
                items:
                  properties:
                    bucketName:
                      description: bucketName is the name of the bucket to grant access
                        to.
                      maxLength: 63
                      minLength: 3
                      type: string
                    permissions:
                      description: permissions is the permissions to grant to the
                        bucket.
                      enum:
                      - read_only
                      - read_write
                      type: string
                    region:
                      description: region is the region of the bucket.
                      minLength: 1
                      type: string
                  required:
                  - bucketName
                  - permissions
                  - region
                  type: object
                minItems: 1
                type: array
                x-kubernetes-list-type: atomic
              credentialsRef:
                description: |-
                  credentialsRef is a reference to a Secret that contains the credentials to use for generating access keys.
                  If not supplied, then the credentials of the controller will be used.
                properties:
                  name:
                    description: name is unique within a namespace to reference a
                      secret resource.
                    type: string
                  namespace:
                    description: namespace defines the space within which the secret
                      name must be unique.
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              generatedSecret:
                description: generatedSecret configures the Secret to generate containing
                  access key details.
                properties:
                  format:
                    additionalProperties:
                      type: string
                    description: |-
                      format of the data stored in the generated Secret.
                      It supports Go template syntax and interpolating the following values: .AccessKey .SecretKey .BucketName .BucketEndpoint .S3Endpoint
                      If no format is supplied, then a generic one is used containing the values specified.
                    type: object
                  name:
                    description: name of the generated Secret. If not set, the name
                      is formatted as "{name-of-obj-key}-obj-key".
                    type: string
                  namespace:
                    description: namespace for the generated Secret. If not set, defaults
                      to the namespace of the LinodeObjectStorageKey.
                    type: string
                  type:
                    default: Opaque
                    description: type of the generated Secret.
                    enum:
                    - Opaque
                    - addons.cluster.x-k8s.io/resource-set
                    type: string
                type: object
                x-kubernetes-validations:
                - message: Value is immutable
                  rule: self == oldSelf
              keyGeneration:
                default: 0
                description: keyGeneration may be modified to trigger a rotation of
                  the access key.
                type: integer
              secretDataFormat:
                additionalProperties:
                  type: string
                description: |-
                  secretDataFormat instructs the controller how to format the data stored in the secret containing access key details.

                  Deprecated: secretDataFormat is no longer supported, please use generatedSecret.format.
                type: object
              secretType:
                description: |-
                  secretType instructs the controller what type of secret to generate containing access key details.

                  Deprecated: secretType is no longer supported, Use generatedSecret.type.
                enum:
                - Opaque
                - addons.cluster.x-k8s.io/resource-set
                type: string
            required:
            - bucketAccess
            - generatedSecret
            type: object
          status:
            description: status is the observed state of the LinodeObjectStorageKey.
            properties:
              accessKeyRef:
                description: accessKeyRef stores the ID for Object Storage key provisioned.
                type: integer
              conditions:
                description: conditions define the current service state of the LinodeObjectStorageKey.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              creationTime:
                description: creationTime specifies the creation timestamp for the
                  secret.
                format: date-time
                type: string
              failureMessage:
                description: |-
                  failureMessage will be set in the event that there is a terminal problem
                  reconciling the Object Storage Key and will contain a verbose string
                  suitable for logging and human consumption.
                type: string
              lastKeyGeneration:
                description: lastKeyGeneration tracks the last known value of .spec.keyGeneration.
                type: integer
              ready:
                default: false
                description: ready denotes that the key has been provisioned.
                type: boolean
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
