---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: linodemachinetemplates.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: LinodeMachineTemplate
    listKind: LinodeMachineTemplateList
    plural: linodemachinetemplates
    shortNames:
    - lmt
    singular: linodemachinetemplate
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: LinodeMachineTemplate is the Schema for the linodemachinetemplates
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: LinodeMachineTemplateSpec defines the desired state of LinodeMachineTemplate
            properties:
              template:
                description: LinodeMachineTemplateResource describes the data needed
                  to create a LinodeMachine from a template.
                properties:
                  spec:
                    description: LinodeMachineSpec defines the desired state of LinodeMachine
                    properties:
                      authorizedKeys:
                        items:
                          type: string
                        type: array
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      authorizedUsers:
                        items:
                          type: string
                        type: array
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      backupID:
                        type: integer
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      backupsEnabled:
                        type: boolean
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      credentialsRef:
                        description: |-
                          CredentialsRef is a reference to a Secret that contains the credentials
                          to use for provisioning this machine. If not supplied then these
                          credentials will be used in-order:
                            1. LinodeMachine
                            2. Owner LinodeCluster
                            3. Controller
                        properties:
                          name:
                            description: name is unique within a namespace to reference
                              a secret resource.
                            type: string
                          namespace:
                            description: namespace defines the space within which
                              the secret name must be unique.
                            type: string
                        type: object
                        x-kubernetes-map-type: atomic
                      dataDisks:
                        additionalProperties:
                          description: InstanceDisk defines a list of disks to use
                            for an instance
                          properties:
                            diskID:
                              description: DiskID is the linode assigned ID of the
                                disk
                              type: integer
                            label:
                              description: Label is the label for the instance disk,
                                if nothing is provided it will match the device name
                              type: string
                            sizeMB:
                              description: SizeGB is the size in GB of the disk
                              type: integer
                          required:
                          - sizeMB
                          type: object
                        description: |-
                          DataDisks is a map of any additional disks to add to an instance,
                          The sum of these disks + the OSDisk must not be more than allowed on a linodes plan
                        type: object
                      firewallID:
                        type: integer
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      group:
                        type: string
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      image:
                        type: string
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      instanceID:
                        description: InstanceID is the Linode instance ID for this
                          machine.
                        type: integer
                      interfaces:
                        items:
                          description: InstanceConfigInterfaceCreateOptions defines
                            network interface config
                          properties:
                            ipRanges:
                              items:
                                type: string
                              type: array
                            ipamAddress:
                              type: string
                            ipv4:
                              description: VPCIPv4 defines VPC IPV4 settings
                              properties:
                                nat1to1:
                                  type: string
                                vpc:
                                  type: string
                              type: object
                            label:
                              maxLength: 63
                              minLength: 3
                              type: string
                            primary:
                              type: boolean
                            purpose:
                              description: ConfigInterfacePurpose options start with
                                InterfacePurpose and include all known interface purpose
                                types
                              type: string
                            subnetId:
                              type: integer
                          type: object
                        type: array
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      osDisk:
                        description: |-
                          OSDisk is configuration for the root disk that includes the OS,
                          if not specified this defaults to whatever space is not taken up by the DataDisks
                        properties:
                          diskID:
                            description: DiskID is the linode assigned ID of the disk
                            type: integer
                          label:
                            description: Label is the label for the instance disk,
                              if nothing is provided it will match the device name
                            type: string
                          sizeMB:
                            description: SizeGB is the size in GB of the disk
                            type: integer
                        required:
                        - sizeMB
                        type: object
                      privateIP:
                        type: boolean
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      providerID:
                        description: ProviderID is the unique identifier as specified
                          by the cloud provider.
                        type: string
                      region:
                        type: string
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      rootPass:
                        type: string
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      tags:
                        items:
                          type: string
                        type: array
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                      type:
                        type: string
                        x-kubernetes-validations:
                        - message: Value is immutable
                          rule: self == oldSelf
                    required:
                    - region
                    - type
                    type: object
                required:
                - spec
                type: object
            required:
            - template
            type: object
        type: object
    served: true
    storage: true
