---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: linodeobjectstoragebuckets.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: LinodeObjectStorageBucket
    listKind: LinodeObjectStorageBucketList
    plural: linodeobjectstoragebuckets
    shortNames:
    - lobj
    singular: linodeobjectstoragebucket
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The name of the bucket
      jsonPath: .spec.label
      name: Label
      type: string
    - description: The ID of the Object Storage cluster for the bucket
      jsonPath: .spec.cluster
      name: Cluster
      type: string
    - description: Bucket and keys have been provisioned
      jsonPath: .status.ready
      name: Ready
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: LinodeObjectStorageBucket is the Schema for the linodeobjectstoragebuckets
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: LinodeObjectStorageBucketSpec defines the desired state of
              LinodeObjectStorageBucket
            properties:
              cluster:
                description: The ID of the Object Storage cluster for the bucket.
                type: string
                x-kubernetes-validations:
                - message: Value is immutable
                  rule: self == oldSelf
              credentialsRef:
                description: |-
                  A reference to a Secret that contains the credentials to use for provisioning the bucket.
                  If not supplied then the credentials of the controller will be used.
                properties:
                  name:
                    description: name is unique within a namespace to reference a
                      secret resource.
                    type: string
                  namespace:
                    description: namespace defines the space within which the secret
                      name must be unique.
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              keyGeneration:
                description: May be used to trigger rotations of access keys created
                  for the bucket by incrementing the field.
                type: integer
              label:
                description: |-
                  The name of the bucket. It must be unique in the Object Storage cluster.
                  If not specified, one will be generated using the UID assigned by Kubernetes to the resource.
                maxLength: 63
                minLength: 3
                type: string
                x-kubernetes-validations:
                - message: Value is immutable
                  rule: self == oldSelf
            required:
            - cluster
            type: object
          status:
            description: LinodeObjectStorageBucketStatus defines the observed state
              of LinodeObjectStorageBucket
            properties:
              conditions:
                description: Current service state of the LinodeObjectStorageBucket.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: |-
                        Last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed. If that is not known, then using the time when
                        the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        A human readable message indicating details about the transition.
                        This field may be empty.
                      type: string
                    reason:
                      description: |-
                        The reason for the condition's last transition in CamelCase.
                        The specific API may choose whether or not this field is considered a guaranteed API.
                        This field may not be empty.
                      type: string
                    severity:
                      description: |-
                        Severity provides an explicit classification of Reason code, so the users or machines can immediately
                        understand the current situation and act accordingly.
                        The Severity field MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: |-
                        Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources like Available, but because arbitrary conditions
                        can be useful (see .node.status.conditions), the ability to deconflict is important.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              creationTime:
                description: The creation timestamp for the underlying bucket.
                format: date-time
                type: string
              failureMessage:
                description: |-
                  Will be set in the event that there is a terminal problem
                  reconciling the Object Storage Bucket and will contain a verbose string
                  suitable for logging and human consumption.
                type: string
              hostname:
                description: The hostname assigned to the bucket.
                type: string
              keySecretName:
                description: The name of the Secret containing access keys for the
                  bucket.
                type: string
              lastKeyGeneration:
                description: Tracks the last known value of .spec.keyGeneration.
                type: integer
              ready:
                default: false
                description: Denotes that the bucket has been provisioned along with
                  access keys.
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
