apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../default

patches:
  - target:
      group: infrastructure.cluster.x-k8s.io
      version: v1alpha1
      kind: LinodeMachineTemplate
      name: .*-control-plane
    patch: |-
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
      kind: LinodeMachineTemplate
      metadata:
        name: ${CLUSTER_NAME}-control-plane
      spec:
        template:
          spec:
            dataDisks:
              sdc:
                label: etcd_disk
                size: 10Gi
  - target:
      group: controlplane.cluster.x-k8s.io
      version: v1beta1
      kind: RKE2ControlPlane
    patch: |-
      apiVersion: controlplane.cluster.x-k8s.io/v1beta1
      kind: RKE2ControlPlane
      metadata:
        name: ${CLUSTER_NAME}-control-plane
      spec:
        diskSetup:
          filesystems:
            - label: etcd_data
              filesystem: ext4
              device: /dev/sdc
        mounts:
          - - LABEL=etcd_data
            - /var/lib/etcd_data
