name: Run e2e upgrade test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read
  actions: read

concurrency:
  group: e2e-upgrade-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      # Expose matched filters as job 'src' output variable
      paths: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: actions/checkout@v4
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: .github/filters.yml
  e2e-upgrade-test:
    needs: changes
    name: e2e-upgrade-test
    if: ${{contains(fromJSON(needs.changes.outputs.paths), 'src')}}
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.github_token }}
      LINODE_TOKEN: ${{ secrets.LINODE_TOKEN }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          disable-sudo: true
          egress-policy: audit
          allowed-endpoints: >
            *:6443
            api.linode.com:443
            api.github.com:443
            github.com:443
            gcr.io:443
            ghcr.io:443
            proxy.golang.org:443
            sum.golang.org:443
            *.githubusercontent.com:443
            docker.io:443
            registry-1.docker.io:443
            auth.docker.io:443
            production.cloudflare.docker.com:443
            storage.googleapis.com:443
            registry.k8s.io:443
            *.pkg.dev:443
            *.amazonaws.com:443
            *.blob.core.windows.net:443
            quay.io:443
            *.quay.io:443
            api.snapcraft.io:443
            cloud.tilt.dev:443
            kubernetes-sigs.github.io:443
            charts.jetstack.io:443
            helm.cilium.io:443
            linode.github.io:443

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Upgrade Test
        env:
          LINODE_REGION: us-sea
          LINODE_CONTROL_PLANE_MACHINE_TYPE: g6-standard-2
          LINODE_MACHINE_TYPE: g6-standard-2
          CLUSTERCTL_CONFIG: /home/runner/work/cluster-api-provider-linode/cluster-api-provider-linode/e2e/gha-clusterctl-config.yaml
          E2E_FLAGS: --assert-timeout 20m0s
        run: make test-upgrade

      - name: cleanup stale clusters
        if: ${{ always() }}
        run: make clean-child-clusters

      - name: cleanup kind mgmt cluster
        if: ${{ always() }}
        run: make clean-kind-cluster
