name: Release
on:
  push:
    tags:
      - "*"

permissions:
  contents: read
  actions: read

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          check-latest: true
      - name: Create Release Artifacts
        run: make release
        env:
          RELEASE_TAG: ${{ github.ref_name }}
      - name: Upload Release Artifacts
        uses: softprops/action-gh-release@v2.4.2
        with:
          files: |
            ./infrastructure-linode/*
            scripts/pre-kubeadminit.sh
