name: Release
on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    needs: go-build-test
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Create Release Artifacts
        run: make release
        env:
          RELEASE_TAG: ${{ github.ref_name }}
      - name: Upload Release Artifacts
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./release
